body {
    margin: 0;
    background-color: rgb(2, 2, 2);
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.backgroundimage {
    position: relative;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 740px;
    top: 0px;
    z-index: -1;
}

.header {
    position: absolute;
    height: 64px;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    right: 0;
    left: 0;
}

.left-section {
    display: flex;
    align-items: center;
}

.netflix-logo {
    width: 164px;
    height: 94px;
    padding-left: 42px;
    padding-top: 22px;
}

.right-section {
    width: 265px;
    display: flex;
    align-items: center;
}

.header div.globe {
    display: flex;
}

.header div.globe svg {
    height: 17px;
    fill: white;
    padding-top: 24px;
    padding-left: 5px;
}

.header select {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: transparent;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 19px;
    padding-right: 2px;
    border-width: 1px;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 2px;
    margin-top: 15px;

}

.sign-in {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: red;
    margin-left: 103px;
    margin-top: 22px;
    padding: 7px 18px;
    border-radius: 5px;
    cursor: pointer;

}

.paragraph {
    position: absolute;
    color: white;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    top: 0;
    margin: 194px 358px;

}

.main-heading {
    font-size: 50px;
    width: 640px;
    text-align-last: center;
    line-height: 62px;

}

.second-line {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    line-height: 7px;
}

.third-line {
    font-size: 19.2px;
    font-weight: 400;
    line-height: 76px;
    text-align: center;
}

.email {
    padding: 21px;
    width: 386px;
    font-size: 16px;
    margin-top: -22px;
    border: 0;
}

.start {
    font-size: 24px;
    color: white;
    background-color: red;
    padding-top: 14px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 34px;
    margin-left: -2px;
    border: 0;
    cursor: pointer;

}

section {
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    width: 94%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 46;
    padding: 70px 35px;
    border-top: 8px solid #222;


}

h1 {
    color: white;
    font-size: 50px;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 600;
}

p {
    color: white;
    font-size: 26px;
    font-weight: 400;
}

.section1-media {
    position: relative;
}

.sec1-img {
    width: 530px;
    height: 400px;
    margin-left: 47px;
    margin-top: -51px;
}

.sec1-vid {
    width: 386px;
    position: absolute;
    top: 33px;
    left: 116px;
    z-index: 5px;
}

.section1-text h1 {
    margin-left: 90px;
    margin-top: 70px;
}

.section1-text p {
    margin-left: 88px;
    margin-top: -30px;
}

.section2-text h1 {
    margin-top: 50px;
    line-height: 62px;
}

.section2-text p {
    margin-top: -22px;
    line-height: 33px;
}

.sec2-img {
    position: relative;
    width: 505px;
    margin-top: -40px;
    margin-left: 14px;
}

.downloads {
    position: absolute;
    color: white;
    background-color: black;
    width: 324px;
    height: 93px;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 13px;
    margin-top: -127px;
    margin-left: 105px;
}

.stranger-story-card {
    position: absolute;
    width: 50px;
    margin-top: 7px;
    margin-left: 12px;
}

.stranger-note {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    margin-left: 79px;
    margin-top: 24px;

}

.downloading {
    color: rgb(40, 40, 168);
    font-size: 14.5px;
    font-weight: 600;
}

.download-icon {
    position: absolute;
    width: 27px;
    margin-left: 276px;
    margin-top: 28px;
}

.section3-text h1 {
    margin-left: 90px;
    margin-top: 20px;
}

.section3-text p {
    margin-left: 88px;
    margin-top: -30px;
}

.sec3-img {
    width: 530px;
    height: 400px;
    margin-left: 55px;
    margin-top: -225px;
}

.sec3-vid {
    width: 335px;
    margin-top: 10px;
    margin-left: 157px;
    z-index: 5px;
}
.section4-text h1 {
    width: 500px;
    margin-top: 50px;
    line-height: 62px;
}

.section4-text p {
    width: 500px;
    margin-top: -22px;
    line-height: 33px;
}

.sec4-img {
    width: 480px;
    margin-top: 10px;
    margin-left: 114px;
}
.fourth{
    border-bottom: 8px solid #222;
    
}
div.faq{
    padding: 30px 30px;
    border-bottom: 8px solid #222;
}
div.faq h1{
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.questions{
    color: white;
    font-size: 26px;
    font-weight: 400;
    max-width: 635px;
    margin: 45px auto;


}
.question{
    position: relative;
    cursor: pointer;
}
.heading1{
    margin-left: -90px;
    width: 750px;
    padding: 20px 30px;
    background-color: #303030;
    border-bottom: 8px solid #000;
}
div.heading1 svg{
    position: absolute;
    width: 34px;
    top: 20px;
    right: -55px;
}
.answer{
    width: 750px;
    height: 250px;
    margin-left: -90px;
    padding: 30px;
    background-color: #303030;
    overflow: hidden;

}
.heading2{
    margin-left: -90px;
    width: 750px;
    padding: 20px 30px;
    background-color: #303030;
    border-bottom: 8px solid #000;
}
div.heading2 svg{
    position: absolute;
    width: 34px;
    top: 104px;
    right: -55px;
}
.heading3{
    margin-left: -90px;
    width: 750px;
    padding: 20px 30px;
    background-color: #303030;
    border-bottom: 8px solid #000;
}
div.heading3 svg{
    position: absolute;
    width: 34px;
    top: 190px;
    right: -55px;
}
.heading4{
    margin-left: -90px;
    width: 750px;
    padding: 20px 30px;
    background-color: #303030;
    border-bottom: 8px solid #000;
}
div.heading4 svg{
    position: absolute;
    width: 34px;
    top: 270px;
    right: -55px;
}
.heading5{
    margin-left: -90px;
    width: 750px;
    padding: 20px 30px;
    background-color: #303030;
    border-bottom: 8px solid #000;
}
div.heading5 svg{
    position: absolute;
    width: 34px;
    top: 352px;
    right: -55px;
}
.heading6{
    margin-left: -90px;
    width: 750px;
    padding: 20px 30px;
    background-color: #303030;
    border-bottom: 8px solid #000;
}
div.heading6 svg{
    position: absolute;
    width: 34px;
    top: 434px;
    right: -55px;
}
div.last-para p{
    font-size: 19.2px;
    padding-top: 12px;
    text-align: center;
}
.last-email {
    padding: 21px;
    width: 386px;
    font-size: 16px;
    margin-top: -22px;
    margin-bottom: 48px;
    margin-left: 340px;
    border: 0;
}

.last-start {
    font-size: 24px;
    color: white;
    background-color: red;
    padding-top: 14px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 34px;
    margin-left: -3px;
    border: 0;
    cursor: pointer;

}
.footer{
    display: flex;
    flex-direction: column;
    color: #737373;
    font-size: 16px;
    margin-top: 75px;
    margin-left: 230px;
}
.lists{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
    max-width: 67%;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom: 16px;
    cursor: pointer;

}
.number{
    cursor: pointer;
}
.number:hover{
    text-decoration: underline;
}
.lists:hover{
    text-decoration: underline;
}
.language div.globe {
    display: flex;
}

.language div.globe svg {
    height: 20px;
    fill: #949393;
    padding-top: 28px;
    padding-left: 10px;
}

.language select {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #a1a1a1;
    background: transparent;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 10px;
    border-width: 1px;
    border: 1px solid rgb(76, 75, 75);
    border-radius: 2px;
    margin-top: 15px;

}
.netflix-india{
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 30px;
}